@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    h1,
    p,
    h5 {
        color: white;
    }
</style>

<link rel="stylesheet" href="~/css/home.css">

<link rel="stylesheet" href="~/css/home.css">

<div class="container-subscr">
    <div class="row">
        <section id="subscrForm">
            @using (Html.BeginForm("Index", "Subscription", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

        </section>
    </div>
</div>