@{
    ViewData["Title"] = "Index";
}


<style>

    p {
        color: white;
    }

    h1 {
        color: white;
    }
</style>
<section class="h-100">
    <table class="h-100">
        <h1 class="display-4 text-center " style="margin-bottom:10%">Nossos Cursos</h1>
        <br>
        <div class="row d-flex">
            <div class="align-bottom col-md-4 order-sm-1 order-2" data-aos="fade-up" data-aos-duration="1500"
                 data-aos-offset="500">
                <div class="card card-position" style="">
                    <div class="card-back-position"></div>
                    <img class="card-img-top" src="~/media/course/regular/regular2.png" alt="Card image cap" style="border-radius: 50%;
                                    z-index: 2;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Formação Completa</h5>
                        
                    </div>
                    <a href="/Subscription#ref1" class="btn btn-secondary position-absolute-bottom" style="border-radius: 5px 5px 5px 5px;
                            width:100%;
                            box-shadow: 2px 2px 5px #000;">Matricule-se já</a>
                </div>
            </div>

            <div class="align-middle col-md-4 order-sm-2 order-1" data-aos="fade-up" data-aos-duration="1500">

                <div class="card card-position" style="transform: translateY(-10px)">
                    <div class="card-back-position"></div>
                    <img class="card-img-top" src="~/media/course/intensivo/cursointensivo.png" alt="Card image cap" style="border-radius: 50%;
                                    z-index: 2;">
                    <div class="card-body">
                        
                        <p class="card-text text-center">Ideal para você que possui o conhecimento básico do idioma e que elevar o seu nível</p>

                    </div>
                    <a href="/Subscription#ref2" class="btn btn-secondary position-absolute-bottom" style="border-radius: 5px 5px 5px 5px;
                            width:100%;
                            box-shadow: 2px 2px 5px #000;">Matricule-se já</a>
                </div>
            </div>

            <div class="align-bottom col-md-4 order-3" data-aos="fade-up" data-aos-duration="1500"
                 data-aos-offset="500">

                <div class="card card-position" style="">
                    <div class="card-back-position"></div>
                    <img class="card-img-top" src="~/media/course/upper/upper2.png" alt="Card image cap" style="border-radius: 50%;
                                    z-index: 2;">
                    <div class="card-body">
                        <h5 class="card-title text-center">TOP</h5>
                        <p class="card-text text-center ">Ideal para você que quer serTOP</p>
                    </div>
                    <a href="/Subscription#ref3" class="btn btn-secondary position-absolute-bottom" style="border-radius: 5px 5px 5px 5px;
                            width:100%;
                            box-shadow: 2px 2px 5px #000;">Matricule-se já</a>
                </div>
            </div>
    </table>
</section>

<script>
    let texts = ['A LIBERDADE DE CONVERSAR COM O MUNDO INTEIRO']
    consoleText(texts, 'middleText', ['white'])
    function consoleText(words, id, colors) {
        if (colors === undefined) colors = ['#fff'];
        var visible = true;
        var con = document.getElementById('console');
        var letterCount = 1;
        var x = 1;
        var waiting = false;
        var target = document.getElementById(id)
        target.setAttribute('style', 'color:' + colors[0])
        window.setInterval(function () {

            if (letterCount === 0 && waiting === false) {
                waiting = true;
                target.innerHTML = words[0].substring(0, letterCount)
                window.setTimeout(function () {
                    var usedColor = colors.shift();
                    colors.push(usedColor);
                    var usedWord = words.shift();
                    words.push(usedWord);
                    x = 1;
                    target.setAttribute('style', 'color:' + colors[0])
                    letterCount += x;
                    waiting = false;
                }, 1000)
            } else if (letterCount === words[0].length + 1 && waiting === false) {
                waiting = true;
                window.setTimeout(function () {
                    x = -1;
                    letterCount += x;
                    waiting = false;
                }, 1000)
            } else if (waiting === false) {
                target.innerHTML = words[0].substring(0, letterCount)
                letterCount += x;
            }
        }, 120)

    }
</script>

